SecurityNotes/.obsidian/

# Ignore Smart Connections folder
.smart-connections
.obsidian/plugins/smart-connections/data.json
.obsidian/plugins/smart-connections
.obsidian/plugins/quickadd


# Ignore Smart Connections folder
.smart-connections

.obsidian/*
.obsidian/
